* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
body {
      background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
     background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center;*/
    color: black;
  }
  
  form button[type="submit"]:hover,
  .recipe button:hover,
  .recipe-colse-btn:hover {
    background-color: rgba(48, 201, 201, 0.674);
  }
  
  /* main section*/
  .recipe-container {
    text-align: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;
  }
  
  .recipe {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 6px;
    box-shadow: 0 5px 10px black;
    cursor: pointer;
    max-width: 340px;
    min-width:340px;
    height:600px;
    transition: transform 0.3s ease-in-out;
  
  }
  
  .recipe:hover {
    transform: scale(1.02);
  }
  
  .recipe img {
    height: 300px;
  }
  
  .recipe h3 {
    font-size: 24px;
    margin-block: 5px;
  }
  
  .recipe p {
    font-size: 20px;
    color: gray;
    margin: 4px 0;
  }
  
  .recipe span {
    font-weight: 600;
  }
  
  .recipe button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    background-color: rgba(0, 255, 255, 0.824);
    color: black;
    border: none;
  
  }
  
  /*Recipe Details*/
  .recipe-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(234, 98, 141);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 12px;
    width: 60%;
    height: 70%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
  
  }
  
  .recipe-details-content {
    padding: 30px;
  }
  
  .recipeName {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
  }
  
  .ingredientsList {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .recipeInstructions p {
    line-height: 30px;
    margin-bottom:15px;
  }
  
  .recipe-colse-btn {
    border: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(0, 255, 255, 0.824);
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .ingredientsList,
  .recipeName,
  .recipeInstructions {
    margin-bottom: 20px;
  }
  
  /*adding scroll bar*/
  .recipe-details::-webkit-scrollbar {
    width: 10px;
    height: 40px;
  }
  
  .recipe-details::-webkit-scrollbar-thumb {
    background: #d2b6b6;
    border-radius: 16px;
    --webkit-border-radius: 16px
  }
  
  body::-webkit-scrollbar {
    width: 15px;
  
  }
  
  body::-webkit-scrollbar-thumb {
    background: #9f3c3c;
    border-radius: 16px;
    --webkit-border-radius: 16px
  }
  
  .recipeInstructions a {
    color: black;
    background-color: red;
    border-radius: 8px;
    text-decoration: none;
    align-items: center;
    width: 86px;
    padding: 10px;
  }
  
  @media screen and (max-width:600px) {
      body{
       background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
     background-size: cover;
     height: 100vh;
      }
    header nav form {
      display: flex;
      flex-direction: column;
    }
     .recipe-details {
    width: 95%;
    height: 70%;
    }
       .recipe {
    margin-right:23px;
     #form{
      margin-left:15px;
    }
  }
  }